.newsContainer{
    width: 70%;
    height: 250px;
    border: 1px solid blue;
    margin: 0 auto;
    font-size: 20px;
    color: coral;
    background-color: aqua;
    border-radius: 10px;
}
.edit{
    height: 30px;
    width: 55px;
    background-color: green;
    color: black;
    text-align: center;
}
.delete{
    height: 30px;
    width: 55px;
    background-color: red;
    color: black;
    text-align: center;
}
